body {
  background-color: #4d284e;
}
h1 {
  color: white;
  text-align: center;
}
.settings {
  background-color: #9e9e9e;
  width: fit-content;
  position: absolute;
  text-align: center;
  padding: 10px;
  z-index: 1111;
  margin-top: 10%;
  margin-left: -104px;
  border-radius: 10px;
  transition: 0.5s;
  font-size: 20px;
  font-weight: bold;
}
.marginleftforsettings {
  margin-left: -8px;
}
.colors {
  display: flex;
  align-items: center;
  justify-content: center;
}
.colors span {
  margin-left: 5px;
}
.num1 {
  /* background-color: black; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.num1 i {
  padding: 0;
}
.num2 {
  background-color: #000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.num3 {
  background-color: #ffde03;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.settings .fa-gear {
  position: absolute;
  top: 50%;
  right: -25px;
  margin-top: -12.5px;
  padding: 0;
  font-size: 25px;
  color: #2196f3;
  animation-name: routat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes routat {
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.conainer {
  width: 80%;
  text-align: center;
  margin: 30px auto;
}
.input {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#save i {
  color: white;
}
textarea {
  padding: 5px;
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 200px;
  outline: none;
  border-radius: 10px;
}
pre {
  display: flex;
  flex-direction: column;
  align-items: start;
  word-break: break-word;
  white-space: pre-wrap;
  color: #ffde03;
}
pre button {
  margin-top: 15px;
}
button {
  margin-top: 15px;
  background-color: #9c27b0;
  color: white;
  font-size: 16px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}
I {
  padding: 0 0 0 10px;
  color: red;
}
summary pre {
  display: inline;
  font-size: 16px;
  color: white;
}
details {
  background-color: #19181a;
  padding: 10px;
  margin-top: 10px;
  transition: 1s;
  color: white;
  border-radius: 10px;
  text-align: left;
}
.clear {
  background-color: red;
  text-align: center;
}
.clear i {
  color: white;
}
